#map { height:100%; margin: 0 }
html, body { height:100%; border:0; margin:0; font-family: monospace; } 
#toolDiv {
  position: absolute;
  top: 15px;
  right: 10px; 
  font-size: 13px;
  z-index: 10;
}
select { background: white; border: 0px; padding: 5px; display: block; width: 200px; }
.legend {
  width: 80px;
  vertical-align: middle;
  text-align: right;
  padding: 5px 5px;
  z-index: 10;
  cursor: pointer;
}
#highway {
  background: rgba(0, 0, 255, 0.5);
}
#localRoad {
  background: rgba(0, 255, 0, 0.5);
}
span { font-size: 10px; color: white; }
#nRoadSelect {  }
#switchEMD {
  top: 118px;
  background: rgba(74, 77, 81, 0.5);
}
#legend {
  float: right;
  margin-top: 5px;
}
.mapInfo {
  text-align: center;
  color: black;
  display: block;
}
#selectOpttions {
  display: none;
  margin-top: 5px;
}
#xAxis {
  background-color: red;
  position: absolute;
  width: 20px;
  height: 2px;
  top: calc((100% / 2) - 1px);
  left: calc((100% / 2) - 10px);
}
#spinner{
  position: absolute;
  top: calc((100% / 2) - 35px);
  width: 100%;
  text-align: center;
  display: none;
}
#yAxis {
  background-color: red;
  position: absolute;
  width: 2px;
  height: 20px;
  top: calc((100% / 2) - 10px);
  left: calc((100% / 2) - 1px);
}
#buttonDiv {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}
#infoDiv{
  position: fixed;
  top: 5px;
  width: 100%;
  text-align: center;
}
.button {
  background: rgba(74, 77, 81, 0.5);
  color: white;
  font-size: 10px;
  padding: 10px;
  display: block;
  cursor: pointer;
  margin-bottom: 3px;
}
#compass {
  position: absolute;
  left: 20px;
  bottom: 20px;
  transform: rotate(180deg);
}
#compass img { width: 20px; height: 25px; }
#areaName {
   display: inline-block;
   padding: 5px;
   color: white;
   background: rgba(0, 0, 0, 0.5);
}