<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="io.github.aafactory.sample">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

    <application
        android:allowBackup="true"
        tools:replace="android:icon,android:theme"
        android:name="io.github.aafactory.sample.helpers.SampleApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--https://github.com/medyo/Fancybuttons-->
        <activity
            android:name="mehdi.sakout.fancybuttons.samples.MainActivity">
        </activity>
        <activity
            android:name="mehdi.sakout.fancybuttons.samples.XmlButtons"
            android:label="@string/title_activity_xml_buttons"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
        <activity
            android:name="mehdi.sakout.fancybuttons.samples.ProgramButtons"
            android:label="@string/title_activity_program_buttons"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--https://github.com/Tapadoo/Alerter-->
        <activity
            android:name="com.tapadoo.alerter.sample.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--https://github.com/saulmm/CoordinatorExamples-->
        <activity
            android:name="saulmm.coordinatorexamples.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="saulmm.coordinatorexamples.FlexibleSpaceExampleActivity"/>
        <activity
            android:name="saulmm.coordinatorexamples.SimpleCoordinatorActivity"
            android:theme="@style/AppTheme.SimpleCoordinatorTheme"
            />
        <activity android:name="saulmm.coordinatorexamples.MaterialUpConceptActivity"/>
        <activity android:name="saulmm.coordinatorexamples.IOActivityExample"/>
        <activity android:name="saulmm.coordinatorexamples.SwipeBehaviorExampleActivity"/>

        <!--https://github.com/juanchosaravia/KedditBySteps-->
        <activity
            android:name="com.droidcba.kedditbysteps.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--https://github.com/pedant/sweet-alert-dialog-->
        <activity
            android:name="cn.pedant.SweetAlert.sample.SweetAlertDialogActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--https://github.com/timusus/RecyclerView-FastScroll-->
        <activity
            android:name="com.simplecityapps.recyclerview_fastscroll.sample.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--https://github.com/woxingxiao/BubbleSeekBar-->
        <activity
            android:name="com.xw.samlpe.bubbleseekbar.sample.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <!--https://github.com/PhilJay/MPAndroidChart-->
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.notimportant.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.LineChartActivity1"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.LineChartActivity2"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.BarChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.HorizontalBarChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.PieChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.PiePolylineChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.ScatterChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.BubbleChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.StackedBarActivityNegative"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.CandleStickChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.RadarChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.FilledLineActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>
        <activity
            android:name="com.xxmassdeveloper.mpchartexample.InvertedLineChartActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="@string/app_name_mp_android_chart">
        </activity>

        <!--https://github.com/bumptech/glide-->
        <activity
            android:name="com.bumptech.glide.samples.imgur.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name="com.bumptech.glide.samples.flickr.FlickrSearchActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.AppCompat">
        </activity>
        <activity
            android:name="com.bumptech.glide.samples.flickr.FullscreenActivity">
        </activity>

        <!--https://github.com/navermaps/maps.android-->
        <activity
            android:name="com.nhn.android.mapviewer.NMapViewer"
            android:theme="@style/AppTheme"
            android:label="">
        </activity>

        <!--https://github.com/googlesamples/android-ConstraintLayoutExamples-->
        <activity
            android:name="com.example.android.constraintlayoutexamples.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name="com.example.android.constraintlayoutexamples.ConstraintSetExampleActivity"></activity>
    </application>
</manifest>